@page "/SystemScreenControlPage"

@using Newtonsoft.Json
@rendermode @(new InteractiveAutoRenderMode(false))
@attribute [StreamRendering]

@inject WebServiceConnection _ws;
@inject NavigationManager _navig;

@if (items?.Count() > 0 && fieldsList?.Count() > 0)
{
    <CustomDiv Class="divCard1 border"
               Visible="@(_companyManager.CompanyConfig.IsShowScreenName)"
               DivType="3">
        <div class="divChildCard1">
            <h3>@screen?.Name</h3>
        </div>
    </CustomDiv>

    <div class="customContainer">
        <CustomDiv Class="divCard1"
                   Visible="@(fieldsList?.FirstOrDefault(p => p.Xname == "txtSearch")?.IsVisible)">
            <div class="divChildCard1">
                <label>@fieldsList?.FirstOrDefault(p => p.Xname == "txtSearch")?.Name</label>
            </div>
            <div class="divChildCard1">
                <input @bind="filter" @bind:event="oninput" @bind:after="FilterItems" />
            </div>
        </CustomDiv>
        <QuickGrid Items="@filteredItems">
            @foreach (var field in fieldsList)
            {
                @if (field.IsVisible)
                {
                    switch (field.Xname)
                    {
                        case "gridCol_SystemScreenId":
                            <PropertyColumn Sortable="true" Title="@field.Name" Property="@(p => p.SystemScreenId)" />
                            break;
                        case "gridCol_Name":
                            <PropertyColumn Sortable="true" Title="@field.Name" Property="@(p => p.Name)" />
                            break;
                        case "gridCol_MinUserLevel":
                            <PropertyColumn Sortable="true" Title="@field.Name" Property="@(p => p.MinUserLevel)" />
                            break;
                        case "gridCol_IsActive":
                            <PropertyColumn Sortable="true" Title="@field.Name" Property="@(p => p.IsActive)" />
                            break;
                        case "gridCol_CreateDate":
                            <PropertyColumn Sortable="true" Title="@field.Name" Property="@(p => p.CreateDate)" />
                            break;
                        case "gridCol_SSTableId":
                            <PropertyColumn Sortable="true" Title="@field.Name" Property="@(p => p.SSTableId)" />
                            break;
                        case "gridCol_Code":
                            <PropertyColumn Sortable="true" Title="@field.Name" Property="@(p => p.Code)" />
                            break;
                        case "gridCol_IsVisible":
                            <PropertyColumn Sortable="true" Title="@field.Name" Property="@(p => p.IsVisible)" />
                            break;
                        case "gridCol_IsControlScreen":
                            <PropertyColumn Sortable="true" Title="@field.Name" Property="@(p => p.IsControlScreen)" />
                            break;
                        case "gridCol_PresentationSequence":
                            <PropertyColumn Sortable="true" Title="@field.Name" Property="@(p => p.PresentationSequence)" />
                            break;
                        case "gridCol_ButtonDetail":
                            <TemplateColumn Title="@field.Name">
                                <div>
                                    <button class="btn btn-outline-info" @onclick="@(() => NavigateToDetail(context.SystemScreenId))">@field.Name</button>
                                </div>
                            </TemplateColumn>
                            break;
                        default:
                            // Trate outros casos se necessário
                            break;
                    }
                }
            }
        </QuickGrid>
    </div>
}
else
{
    <label>Loading...</label>
}


@code {
    public IQueryable<SystemScreen> items { get; set; }
    public IQueryable<SystemScreen> filteredItems { get; set; }
    public string filter { get; set; } = "";

    private SystemScreen screen { get; set; }
    private List<SystemScreenField> fieldsList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        items = filteredItems = await GlobalHelper.GetTableData(_ws, items, "SystemScreen");//To change
        (fieldsList, screen) = await GlobalHelper.GetScreenFields(_ws, "SystemScreenControlPage");//To change
    }
    private void FilterItems()
    {
        filteredItems = items;
        filteredItems = string.IsNullOrEmpty(filter) == false ? filteredItems.Where(p => p.Name.ToLower().Contains(filter.ToLower())) : filteredItems;
    }
    private void NavigateToDetail(int id)
    {
        var navOption = id != 0 ? $"/SystemScreenMaintenancePage/{id}" : $"/SystemScreenMaintenancePage";//To change
        _navig.NavigateTo(navOption);
    }
}
